<div *ngIf="!name; else forminfo">
  <form [FormGroup]="rForm" (ngSubmit) = "addPost(rForm.value)">
    <div class="form-container">
      <div class="row-columns">
        <h1>My Reative Forms</h1>
        <label >Name
          <input type="text" formControlNam="name">
        </label>
        <label >Description
          <textarea formControlName="description" id="" cols="30" rows="10"></textarea>
        </label>
        <label for="validate">Minimum of 30 Charecters</label>
        <input type="checkbox" name="validate" formCOntrolName="validate"
        value="1">

        <input type="submit" class="button expended" value="submit form" [disabled]
        ="!rform.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row-columns">
      <h1>
        {{name}}
      </h1>
      <p>{{description}}</p>
    </div>
  </div>

</ng-template>